 /* Imports */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/base.css";

 /* 2. User Settings */
  .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP,
  .uploadModal-2ifh8j .footer-3mqk7D,
  .uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx .inner-zqa7da {
    background-color: var(--secondary-color) !important;
  }
  
  
  
  /* 3. Chat */
  .searchResultsWrap-2DKFzt,
  .searchPopout-1vUlP3,
  #app-mount .container-16j22k,
  #app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN>.listItem-2P_4kh:first-child .listItemWrapper-3X98Pc,
  .wrapper-1Rf91z:not(.foldercontent) .scrollerWrap-1IAIlv .scroller-2TZvBN>.tutorialContainer-1v44GL {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-1YxwTf .inner-MADQqc {
    background-color: var(--tertiary-color);
    border-radius: 5px;
  }

  .content-3dzVd8 .innerNoAutocomplete-1WpcVO {
    background-color: var(--tertiary-color) !important;
  }

  /* 4. Popouts & Modals */
  .colorPickerCustom-2CWBn2 {
    border-color: var(--quaternary-color) !important;
  }
  
  .select-2TCrqx .Select-menu-outer,
  #app-mount .popout-3G62UL {
    background-color: transparent !important;
    background-attachment: fixed !important;
    background-image: var(--background-image) !important;
    background-position: center !important;
    background-size: cover !important;
  }
  
  .Select .Select-menu {
    background-color: var(--primary-color);
  }
  
  .botTagInvert-18-95s {
    background-color: var(--main-color);
    color: white;
  }
  
  #app-mount .searchResultsContainer-1ma_dc,
  #app-mount .menu-Sp6bN1,
  #app-mount .themedPopout-25DgLi,
  #app-mount .container-3ayLPN,
  #app-mount .addGamePopout-2RY8Ju,
  #app-mount .colorPickerCustom-2CWBn,
  #app-mount .perksModal-fSYqOq {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }

  #app-mount .messagesPopoutWrap-1MQ1bW {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat !important;
  }

  #app-mount .css-1rckt42-menu {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat;
    background-attachment: fixed !important;
  }

  #app-mount .tierMarkerBackground-3q29am {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/600px 618px no-repeat !important;
    background-attachment: fixed;
  }

  .emojiPicker-3m1S-j, 
  .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ, 
  .diversitySelector-tmmMv0 .popout-2nUePc,
  #app-mount .uploadModal-2ifh8j,
  #app-mount .modalRoot-LW89o7 {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  .emojiPicker-3m1S-j .categories-1feg4n,
  .infoBar-U6oBFk {
    background: var(--tertiary-color);
  }
  
  .userPopout-3XzG_A,
  .create-guild-container.deprecated,
  .inner-1JeGVc .root-SR8cQa,
  .container-2x5lvQ,
  .container-2Yth53,
  .userList-1kLH8B,
  #permissions-modal-wrapper #permissions-modal,
  .create-guild-container-new.deprecated .form.deprecated,
  .toast,
  .inner-2VEzy9 .root-SR8cQa,
  #app-mount .modal-3c3bKg .inner-1ilYF7 .root-SR8cQa {
    background-image: var(--popup-background) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  
  #app-mount .quickswitcher-3JagVE,
  #app-mount .modal-3HD5ck,
  #app-mount .keyboardShortcutsModal-3piNz7,
  #app-mount .incomingCallInner-2VmFiR,
  #app-mount .regionSelectModal-12e-57,
  .backdrop-1wrmKB[style*="background-color: rgb(255, 255, 255)"],
  #app-mount .gamePreview-9weYR2,
  #app-mount .popout-2xBvMR,
  #app-mount .sb-menu-scroller-wrapper,
  .metalloriff-changelog-scroller,
  .container-VSDcQc,
  .bd-modal-inner,
  #app-mount .contextMenu-HLZMGh,
  #app-mount .monsterModal,
  #app-mount .popout-3sVMXz .container-jGk-CT,
  #app-mount .modal-3v8ziU,
  #app-mount .modal-yWgWj- {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  #app-mount .content-3CCvMx:before {
    background-color: var(--quaternary-color);
  }
  
  .container-2Yth53 {
    border-radius: 5px;
  }
  
  #app-mount .popout-3G62UL::before {
    border-radius: 4px;
  }
  
  .userPopout-3XzG_A .header-2BwW8b,
  [class*="topSection"],
  .tiles-2aXG_k,
  .container-2x5lvQ header,
  .container-2x5lvQ section,
  #permissions-modal-wrapper .header,
  #permissions-modal-wrapper .modal-body {
    background-color: var(--primary-color) !important;
  }
  
  .create-guild-container.deprecated .form.deprecated .form-inner {
    background-color: var(--quaternary-color) !important;
  }
  
  .searchPopout-1vUlP3::before,
  .add-game-popout::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    pointer-events: none;
  }
  
  .container-16j22k::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    z-index: -1 !important;
  }
  
  .notches-1sAcEM {
    position: relative;
    background-attachment: fixed;
    background-image: var(--background-image) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    width: 100%;
  }
  
  .notches-1sAcEM::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    background-color: var(--primary-color);
  }
  
  .content-1_NQ-_,
  .errorState-3QMR6P,
  .phoneVerificationModal-OzcDc3 .title-3qNdae,
  .phoneVerificationModal-OzcDc3 .description-3JBgvQ,
  .container-_CzRhL img[src*="/assets/261873897d8899d4e2e724efdfa21ee3.svg"],
  .container-_CzRhL .title-Ic5R7V,
  .container-_CzRhL .description-2waT7u,
  .tipsWithoutResults-lGY-De, 
  .tipsWithResults-HhTE9b,
  .modalTitle-37O4n6,
  .modalSubtitle-1Pj5nv,
  .queryText-3xoOY7,
  .empty-3sCt5f,
  .popoutSocialInfo-1qhqSY,
  .recommendationReason-21q3aC,
  .themeDark-3Ap_7i,
  .sb-menu-label,
  .sb-menu-scroller,
  .metalloriff-update-label,
  .metalloriff-changelog-label,
  .emptyState-2gL-9T,
  .container-16j22k * {
    z-index: 1;
  }
  
  .emptyNote-3nZbCz, 
  .emptyTitle-3Jm6Ve {
    color: white !important;
    z-index: 2;
    opacity: 1;
   }
  
  .popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
    background-color: var(--tertiary-color) !important;
  }
  
  .need-help-modal .header h1::after {
    left: -220px;
  }

  .layer-v9HyYc[style*="; bottom: 5"][id*="popout_"] .menu-Sp6bN1 .itemBase-1Qj4z6:nth-child(7) {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }
  
  /* 5. @Media Edits */
  @media only screen and (max-width: 915px) {
  
    .members-1998pB:hover {
      background-color: var(--primary-color) !important;
    }
  }


